@import 'playlists.css';

body {
  margin-top: 70px;
  background-image: url('/assets/images/wallpaperedit.jpg');
  background-size: cover;

}

.connect {
  padding-top: 15px;
  padding-right: 10px;
  cursor: pointer;
}

.navbar-inverse .navbar-brand{
  color: white;
  cursor: default;
}

.navbar-right {
    display: inline-block;
}
