<form>
  <div class="form-group">
    <label for='title'>Create New Playlist:</label>
    {{input value=title id='title' placeholder="Playlist Name"}}
  </div>
  <button class="btn btn-primary" {{action 'submit'}}>Create Playlist!</button>
</form>
