<div class="row">
  <div class="col-md-4">
    <h3>Playlists</h3>

    {{#each playlist in model}}
      <li>{{#link-to 'playlist' playlist.id}}{{playlist.name}}{{/link-to}}</li>
    {{/each}}
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
