<div class="row">
  <div class="col-md-2">
    <h3>Playlists</h3>


  </div>
  <div class="col-md-10">
    {{#each playlist in model}}
      <li>{{#link-to 'playlist' playlist.id}}{{playlist.name}}{{/link-to}}</li>
    {{/each}}
  </div>
</div>

{{outlet}}
