<h3>Welcome to SoundShare</h3>

<h5>The #1 App for sharing and tracking song recommendations with your friends</h5>

<h6>To begin, {{#link-to 'signup'}}Create an Account{{/link-to}} or {{#link-to 'login'}}Log In{{/link-to}}</h6>
